html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("https://th.bing.com/th/id/OIP.Z6hc7QD_qKVvdEfHILaFYAHaE7?w=267&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7");
}

h1 {
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:goldenrod;
}